<div class="sidebar-home">
    <div>
        <div class="widget widget_search">
            <form>
                <div class="form-group">
                    <input class="form-control" placeholder="Search ..." type="text">
                </div>
            </form>
        </div>
    </div>
</div>