@import "lib/bootstrap/bootstrap";

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

p {
    color: #3a4749;
    opacity: 0.75;
    letter-spacing: 0.272px;
}

.article {
    margin: 36px 0;
}

.article .info {
    margin: 14px 0px;
    font-weight: bold;
    opacity: 0.75;
    text-transform: uppercase;
}

.article .info .time {
    margin-right: 8px;
}

.article .info .comment {
    margin-right: 8px;
}

.footer {
    background-color: #f5f5f5;
}

.sidebar-home {
    margin: 36px 0;
}

.sidebar-home .widget_search {
    background: #e9ecf1;
    padding-top: 35px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    border-radius: 8px;
}

.sidebar-home .widget {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    border: none;
}

.search-bar {
    padding: 20px;
    background: red;
}

.wrap-pagination {
    margin-bottom: 32px;
}

.detail {
    margin: 36px 0;
}

.detail .title {
    padding: 16px 0;
}

.detail .content {
    padding: 8px 0;
}