<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="detail">
                <div class="thumb">
                    <img class="bd-placeholder-img card-img-top" src="{{post.thumb}}" alt="">
                </div>

                <div class="title">
                    <h2>{{post.title}}
                    </h2>
                </div>

                <p class="content">
                    {{{post.content}}}
                </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="sidebar-home">
                {{> sidebar_home}}
            </div>
        </div>
    </div>

</div>